{
  "extends": "@folio/eslint-config-stripes",
  "parser": "@babel/eslint-parser",
  "plugins": [
    "jest",
    "@calm/react-intl"
  ],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "@calm/react-intl/missing-formatted-message": [
      2,
      {
        "noTrailingWhitespace": true,
        "ignoreLinks": true,
        "enforceLabels": true,
        "enforceImageAlts": true,
        "enforceInputProps": false
      }
    ],
    "@calm/react-intl/missing-attribute": [
      2,
      {
        "noTrailingWhitespace": true,
        "noSpreadOperator": true,
        "requireDescription": false,
        "formatDefineMessages": false,
        "requireIdAsString": false,
        "requireDefaultMessage": false
      }
    ],
    "@calm/react-intl/missing-values": 2
  },
  "overrides": [{
    "files": [ "src/routes/Playground.js", "*.mock.js" ],
    "rules": {
      "@calm/react-intl/missing-formatted-message": "off"
    }
  }]
}
